:root {
  --main-color: #67BAC3;
  --main-button-color: #EB8E68;
}

.App {
    text-align: center;
    background-color: var(--main-color);
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
.grid{
    height: 92vh;
    text-align: center;
} 

.App-header {
    left: 0;
    height: 8vh;
    display: inline-block;
    width: 100%;
    font-family: 'Poppins';
    color: #ffffff;
}

.menu{
    width: fit-content;
    height: 100%;
    float: right;
    padding: 2vh 4vh;
    font-size: calc(10px + 1vmin);
}

.menu-button{
    background-color: var(--main-button-color);
    color: #ffffff;
    font-size: 16px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu-button:hover{
    background-color: #eb8d68c9;
}

.menu > a{
    text-decoration: none;
}

.left{
    float: left;
    padding-left: 3%;
    height: inherit;
    font-size: calc(10px + 4vmin);
}

.map-box{
    position: relative;
    z-index: 1;
    height: 92vh;
}
.data-box{
    position: absolute;
    z-index: 2;
    top: 8.5vh;
    left: 0vh;
    height: 92vh;
    width: 30vh;
    background-color: #ffffff;
    padding: 1vh 1vh;
}

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0px;
    left: 0px;
}

.optionsBox{
    width: 50vw;
    height: 50vh;
    left: 25%;
    top: 25%;
    background-color: #ffffff;
    border-radius: 15px;
    z-index: 4;
    position: absolute;
    margin: 0 auto;
}

.operation-box{
    position: absolute;
    opacity: 1;
    top:  13%;
    left: 6%;
    height: 80vh;
    width: 88%;
    background-color: var(--main-color);
    margin: auto;
}

.data-frame{
    align-items: center;
}
