.CreateCase{
    text-align: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#map { 
    height: 90vh; 
}

#route-map { 
    height: 90vh; 
    display: none;
}

.App-name{
    float: left;
    padding-left: 3%;
    height: inherit;
    font-size: calc(10px + 4vmin);
}

.App-header {
    height: 8vh;
    display: inline-block;
    width: 100%;
    font-family: 'Poppins';
    color: #ffffff;
    background-color: #67BAC3;
}

.home{
  float: right;
  padding-right: 20px;
  padding-top: 0px;
  font-size: calc(10px + 1vmin);
}
.container{
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
/* 
@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
} */
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
  border: 3px solid rgba(0, 0, 0, 0.068);
  height: 92vh;
}

.input-location::placeholder{
    color: black;
}

.results{
    color: black;
}