.data-table{
    width: 100%;
    padding-top: 10px;
}

.data-table-box{
    height: 74vh;
    /* border: solid white; */
}

.table-row{
    padding: 10px 10px;
    margin-top: 3px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    font-size: calc(7px + 1vh);
    cursor: pointer;
}
.box{
    margin-top: 2px;
}
.table-row:hover{
    background-color: rgba(255, 255, 255, 0.322);
}

/* .table-row:active{
    background-color: black;
} */

.more-inf{
    display: none;
}

.table-row:hover + .more-inf{
    display: block;
}

input[type=text] {
    width: 95%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
}

.search-team-form-text{
    text-align: left;
    font-size: calc(10px + 1vh);
    margin-left: 2vh;
}