.data-table{
    width: 100%;
    padding-top: 10px;
    overflow-y: auto;
    height: 90vh;
    scroll-margin-bottom: 100px;
}

.table-row{
    padding: 10px 10px;
    height: 20px;
    position: relative;
}

.status{
    background: #E3E7E8;
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    margin-left: 30px;
    top: 17px;
}


.id{
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: medium;
    font-size: 20px;
    position: absolute;
    margin-left: 35%;
    letter-spacing: 2%;
}

.box{
    margin-top: 2px;
    border-radius: 15px;
    background-color: var(--main-color);
    width: 100%;
}

.show-button, .send-button, .end-button{
    border: none;
    background-color: #EEBAA3;
    color: #ffffff;
    border-radius: 3px;
    display: inline-block;
}

.show-button:hover, .send-button:hover, .end-button:hover{
    background-color: #eeb9a3b6;
}

.show-on-map{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Poppins';
    font-weight: 700;
    text-align: center;
    justify-content: center;
    transform: translate(-50%, 15%);
    width: 100%;
}

.table-row:hover  .show-on-map{
    display: block;
}

.table-row:hover{
    height: 50px;
}

.search-team-form{
    position: relative;
    padding: 15px 0 0;
    margin-top: 0px;
    width: 100%;
}

.search-team{
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #EEBAA3;
    outline: 0;
    font-size: 1.3rem;
    color: #FB745C;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.search-team::placeholder {
    color: transparent;
}

.search-team:placeholder-shown ~ .label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.label{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 16px;
    color: #95ADBF;
    font-weight: bold;
}

.search-team:focus ~ .label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #95ADBF;
    font-weight: 700;
}

.search-team:focus{
    padding-bottom: 6px;  
    font-weight: 700;
}

.search-team:required + .search-team:invalid{
    box-shadow: none;
}

.dummyBox{
    height: 100px;
}
