.main{ 
    position: relative;
    font-family: 'Poppins';
}

/* .operation-body{
    display: flex;
} */

.header {
    display: inline-block;
    width: 100%;
    height: 5vh;
}

.close-button{
    position: absolute;
    right: -1vh;
    top: -1vh;
    border-radius: 10px;
    background-color: #F4F1DE;
}

.team-status{
    position: absolute;
    display: inline-block;
    font-size: 4vh;
    left: 37vh;
    border-radius: 3px;
    background-color: #F4F1DE;
    color: #3D405B;
    padding: 0vh 8vh;
}

.team-id{
    position: absolute;
    font-size: 40px;
    left: 0vh;
    background-color: transparent;
    color: #ffffff;
    margin: 1vh 3vh;
}

.map{
    position: relative;
    z-index: 1;
    height: 75vh;
    top: 1vh;
    /* width: 130vh; */
    /* left: 40vh; */
    /* right: 10vh; */
    width: 100%;
    /* margin-right: 3vh; */
}

.search-box{
    width: 40vh;
    height: 5vh;
    position: absolute;
    right: 3vh;
}

.inputs{
    position: absolute;
    left: 0vh;
    width: 40vh;
    height: 4vh;
    top: 2vh;
    /* border: solid pink; */
    /* margin-top: 4vh; */
    /* top: 2vh;
    margin: 1vh; */
}

.search-input{
    position: absolute;
    left: 0vh;
    width: calc(150px + 10vmin);;
    height: 3vh;
    background: rgba(227, 231, 232, 0.47);
    border: none;
    margin-top: 1vh;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.5vh;
    padding-left: 1vh;
}

.search-input:focus{
    outline: none;
}

.go-button{
    position: absolute;
    left: 36vh;
    margin-top: 1.1vh;
    background: url('../images/Outline/Navigation/Navigation.png');
    width: 3vh;
    height: 3vh;
    background-size: 3vh 3vh;
    border-radius: 4px;
}

.route-button{
    background: url('../images/Outline/Navigation/Map-location.png');
    width: 3vh;
    height: 3vh;
    background-size: 3vh 3vh;
    border-radius: 4px;
    position: absolute;
    left: 32vh;
    margin-top: 1.1vh;
    border: none;
}

.go-button:hover, .route-button:hover{
    background-color: rgba(227, 231, 232, 0.2);
}

.search-input::placeholder{
    color: #ffffff;
}

.search-results{
    position: absolute;
    top: 6vh;
    z-index: 2;
    /* top: 9vh;
    height: 63vh; */
    overflow: auto;
    background-color: #67BAC3;
    border-radius: 10px;
    max-height: 76vh;
}

.search-label{
    left: 0vh;
    position: absolute;
    /* left: 2vh; */
    color: #ffffff;
    font-weight: 700;
    font-size: calc(8px + 1vh);
}

.search-chosen{
    background-color: transparent;
    font-size: 12px;
    color: #ffffff;
    border: 1px solid  rgba(227, 231, 232, 0.37);
    border-radius: 10px;
}

.search-chosen:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.go-button, .close-button{
    border: none;
    color: #3D405B;
    display: inline-block;
}

.questionare{
    padding: 20px;
    position: relative;
    width: 40vw;
    height: 80vh;
    left: -44vw;
    top: -10vh;
    background-color: #ffffff;
    z-index: 10;
}

.questionare input:not([type=button]){
  height: 35px;
  width: 280px;
  font-size: 16px;
  background-color: rgba(229, 229, 229, 0.47);
  border-radius: 5px;
  border: none;
  /* margin-top: 1vh; */
  padding-left: 1vh;
  -webkit-appearance: button;
  appearance: button;
  margin-bottom: 1vh;
  /* border: 3px solid black; */
}

.questionare label{
    position: relative;
  margin: 1vh;
  left: 10vh;
  text-align: left;
  display: block;
  font-size: 16px;
  color: #212529;
  top: 1.2vh;
  letter-spacing: 2%;
}

/* .cover2{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
} */
