.main{ 
    position: relative;
}

.operation-body{
    display: flex;
}

.header {
    margin: 1vh;
    display: inline-block;
    /* border-bottom: 2px solid #F4F1DE; */
}

.close-button{
    position: absolute;
    right: 1vh;
    display: inline-block;
    width: fit-content;
    height: fit-content;
}

.team-status{
    position: absolute;
    display: inline-block;
    font-size: 4vh;
    left: 35vh;
    border-radius: 3px;
    background-color: #F4F1DE;
    color: #3D405B;
    padding: 0vh 10vh;
}

.team-id{
    position: absolute;
    display: inline-block;
    font-size: 4vh;
    left: 1vh;
    border-radius: 3px;
    background-color: #F4F1DE;
    color: #3D405B;
    padding: 0vh 10vh;
}

.map{
    border: 2px solid #F4F1DE;
    position: relative;
    /* z-index: 1; */
    height: 70vh;
    top: 4vh;
    /* width: 130vh; */
    /* left: 40vh; */
    /* right: 10vh; */
    width: 100%;
    flex: 4;
    margin-right: 3vh;
}

.search-box{
    border: 2px solid #F4F1DE;
    top: 1vh;
    margin: 3vh 1vh;
    width: 38vh;
    position: relative;
    flex: 1;
    height: 70vh;
}

.inputs{
    position: absolute;
    /* margin-top: 4vh; */
    top: 2vh;
    margin: 1vh;
}

.search-input{
    width: 185px;
    height: fit-content;
    position: relative;
    left: 0vh;
    border: 0;
    border-bottom: 2px solid #F4F1DE;
    outline: 0;
    font-size: 1.3rem;
    color: #F4F1DE;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

}

.go-button{
    position: relative;
    display: inline-block;
    border: 0;
    background-color: white;
    width: fit-content;
    height: fit-content;
    left: 1vh;
}

.search-input::placeholder{
    color: transparent;
}

.search-results{
    position: absolute;
    top: 9vh;
    height: 63vh;
    overflow: auto;
}

.search-label{
    position: absolute;
    left: 2vh;
}

.search-chosen{
    background-color: transparent;
    font-size: 12px;
    color: #F4F1DE;
    border: 1px solid rgba(0, 0, 0, 0.37);
}
